.body {
  margin: 0;
  font-family: "Lucida Grande";
  padding: 20px 20px;
  background-color: whitesmoke;
  text-align: center;
}

.playlist__image{
  width: 25%;
  height: 25%;
}

.playlist__button {
  padding: 12px 24px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;

}